@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Raleway:wght@300;700;900&display=swap');

.selector-for-some-widget {
    box-sizing: content-box;
}

.rounded-3 {
    border-radius: 30px !important;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 54px;
    margin: 2vw 0;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 54px;
    letter-spacing: -0.02em;
}

h3 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: bolder;
    font-size: 1.3rem;

}

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
}

.small {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
}

.h4 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: bolder;
    font-size: 1.5rem;
}

.parigicolor {
    color: #DF375B;
    font-weight: bold;
}

.parigicolorlight {
    color: #DF375B;
    font-weight: normal;
}

.zafferanocolor {
    color: #F5C042;
    font-weight: bold;
}

.zafferano {
    background-color: #F5C042;
}

.smeraldocolor {
    color: #298D9F;
    font-weight: bold;
}

.lightcolor {
    color: #F3F9FA;
    font-weight: bold;
}

.darkcolor {
    color: #333C3F;
}

.text24 {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
}

@media only screen and (min-width: 720px) {
    .text24 {
        font-size: 24px;
    }
}

.btn-light {
    background-color: #F5C042;
    font-weight: bold;
}

.btnGiallo {
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(250, 182, 13, 0.5);
    background-color: #F5C042;
    font-family: Comfortaa, cursive;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #F3F9FA;
    position: relative;
    z-index: 100; /* in maniera tale che i div sottostanti non coprano la sua ombra*/
}

.btnBlu {
    border-radius: 40px;
    box-shadow: 0px 6px 16px rgba(41, 141, 159, 0.5);
    background-color: #298D9F;
    font-family: Comfortaa, cursive;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #F3F9FA;
    position: relative;
    z-index: 100; /* in maniera tale che i div sottostanti non coprano la sua ombra*/
}

.btnFucsia {
    border-radius: 40px;
    background: #DF375B;
    padding: 5px 30px;
    box-shadow: 0px 6px 16px rgba(223, 55, 91, 0.5);
    font-family: Comfortaa, cursive;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #F3F9FA;
    position: relative;
    z-index: 100; /* in maniera tale che i div sottostanti non coprano la sua ombra*/
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bolder;
    color: #333C3F; /* si dovrebbe sovrascrivere la classe black di bootstrap con questo codice e utilizzarla... */
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgb(223 55 91);
!important;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 0.15em;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #DF375B;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 0.15em;

}

.dropdown-item {
    color: #333C3F;
}

.dropdown-item:hover {
    color: #DF375B;
    text-decoration: none;
    background-color: #FDF3F5;
}

.whereyellow::before {
    content: url("../Icons/positionyellow.svg");
    height: 30px;
    margin-right: 10px;
}

.whereFucsia::before {
    content: url("../Icons/posizionefucsia.svg");
    height: 30px;
    margin-right: 10px;
}

.calendaryellow::before {
    content: url("../Icons/calendaryellow.svg");
    height: 30px;
    margin-right: 10px;
}

.calendarfucsia::before {
    content: url("../Icons/calnderiofucsia.svg");
    height: 30px;
    margin-right: 10px;
}

.calendarblu::before {
    content: url("../Icons/calendarblu.svg");
    height: 30px;
    margin-right: 10px;
}

/* home_______________________________________________________*/
/* main {
    background-image: url("images/wawe.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
}

.btn{
    border-radius: 15px; rounded-pill non funziona
}
#bg2 {
    position: relative;
    z-index: -1;
    width: 100vw;
    background-size: contain;
    background-position-y: top;
}
 */

/* Home____________________________________________*/
.sfondohome {
    background: url("../images/index/onda_home.png") no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 48px;
    height: 700px;
}

/* La città____________________________________________*/

@media only screen and (min-width: 600px) {
    .citybackground {
        background-image: url("../images/LaCitta/statuacittà.svg");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .citybackground {
        background-size: 40%;
    }
}

.sfondoscopri {
    background-image: url("../images/LaCitta/header_LaCittà.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 48px;
    height: 500px;
}

.subtitleBold {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.lineleft {
    margin-top: -100px;
    z-index: 1;
}

@media only screen and (min-width: 1200px) {
    .lineleft {
        margin-top: -150px;
    }
}


.zindex1 {
    z-index: 2;
}

.cardcity {
    background-color: #FCFCFC;
    border-radius: 40px;
    margin-top: -80px;
    box-shadow: 0px 10px 50px 0px #91A8D533;
}

.cardShadow {
    border-radius: 40px;
    box-shadow: 0px 10px 50px 0px #91A8D533;
    border-style: hidden;
}

.noborder {
    border-style: none;
}

.whereyellow::before {
    content: url("../Icons/positionyellow.svg");
    height: 30px;
    margin-right: 10px;
}

.whereFucsia::before {
    content: url("../Icons/posizionefucsia.svg");
    height: 30px;
    margin-right: 10px;
}

/* Vivere la città____________________________________________*/
.sfondovivere {
    background: url("../images/ViverelaCittà/Header_VivereLaCittà1.png") no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 48px;
    height: 500px;
}

.subtitleBold {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

/* Occasioni____________________________________________*/
.backgOccasioni {
    background: url("../images/occasioni/Header_occasioni.png") no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 48px;
    height: 670px;
}

.accordionstyleBlu {
    color: #298D9F;
    font-weight: bold;
}

.accordionButton {
    border-style: none;
    background-color: #FFFFFF;
}

.accordionHeader {
    border-style: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.accordionBody {
    border-style: none;
    background-color: #FFFFFF;
}

/* Didattica____________________________________________*/
.backgDidattica {
    background: url("../images/didattica/SFONDO_DIDATTICA.png") no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 48px;
    height: 600px;
}

.accordionstyleFucsia {
    color: #DF375B;
    font-weight: bold;
}

/* Come raggiungerci____________________________________________*/
.sfondoragg {
    background: url("../images/ComeRaggiungerci/header_COMERAGGIUNGERCI.svg") no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 48px;
    height: 617px;
}


.googlemap {
    width: 75%;
}

.bordermaps {
    border-radius: 40px;
    box-shadow: 0px 4px 30px 0px #00000033;
}

.email::before {
    content: url("../Icons/email1.svg");
    height: 30px;
    margin-right: 10px;
}

.phone::before {
    content: url("../Icons/phone1.svg");
    height: 30px;
    margin-right: 10px;
}

.nextphoto {
    content: url("../Icons/nextphoto.svg");
}

.prevphoto {
    content: url("../Icons/prevphoto.svg");
}

/* Eventi____________________________________________*/
.sfondoeventi {
    background: url("../images/Eventi/SFONDO_EVENTI.svg") no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 48px;
    height: 617px;
}

.timeline {
    position: absolute;
    z-index: 1000;
    right: 50vw;
}

/* Quartieri____________________________________________*/

/* impressionismo*/
.impressionismo {
    background-image: url("../images/Quartieri/header_impressionismo.png");
    background-size: cover;
    height: 80vh;
    position: relative;
    z-index: -10;
}

.gradient-impressionismo {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 77%, rgba(230, 103, 71, 1) 94%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 77%, rgba(230, 103, 71, 1) 94%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 77%, rgba(230, 103, 71, 1) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e66747", GradientType=1);
    height: inherit;
}

.impressionismowawe {
    /* background-image: url("images/Quartieri/sfondo_impressionismo.png");*/
    height: 85vh;
    background-size: cover;
}

.section-impressionismo, .section-street-art, .section-surrealismo {
    position: relative; /* in questo modo le onde in position:absolute si posizionano sopra le section senza impostare z-index*/
}

.section-impressionismo .container-fluid /* non ho capito la seconda classe*/
{
    background: linear-gradient(
            180deg, rgb(230 103 71) 0%, rgb(241, 154, 94) 100%);
}

.child {
    position: absolute;
    right: 0;
    top: 70vh;
    height: 70vh;
    z-index: 100;
    transform: translateY(-90vh);
}

@media only screen and (max-width: 1000px) {
    .child {
        top: 60vh;
        height: 60vh;
    }
}

@media only screen and (max-width: 600px) {
    .child, .child_surrealismo {
        display: none;
    }
}

.wave-impressionismo, .wave-surrealismo, .wave-street-art {
    position: absolute;
    top: 0;

}

.onda, .img-fluid {
    width: 100%;
}

.text-orange {
    color: #E66848;
}

.wrap-surrealismo {
    background-color: #E66848;
}

/* surrealismo*/

.section-surrealismo {
    position: relative; /* serve per posizionarvi sopra l'onda arancione*/
}

.surrealismo {
    background-image: url("../images/Quartieri/header_surrealismo.png");
    background-size: cover;
    height: 80vh;
    position: relative;
    z-index: 0;
}

.surrealism-gradient {
    background: rgb(54, 99, 160);
    background: -moz-linear-gradient(0deg, rgba(54, 99, 160, 1) 0%, rgba(255, 255, 255, 0) 34%);
    background: -webkit-linear-gradient(0deg, rgba(54, 99, 160, 1) 0%, rgba(255, 255, 255, 0) 34%);
    background: linear-gradient(0deg, rgba(54, 99, 160, 1) 0%, rgba(255, 255, 255, 0) 34%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3663a0", endColorstr="#ffffff", GradientType=1);
    height: inherit;
}

.section-surrealismo {
    background-color: #3663a0;
}

.blue-text {
    color: #3663A0;
}

.child_surrealismo {
    position: absolute;
    top: 60vh;
    right: 9vw;
    height: 57vh;
    z-index: 99;
    transform: translateY(-90vh);
}

@media only screen and (max-width: 1200px) {
    .child_surrealismo {
        top: 63vh;
        height: 50vh; /* child si rimpicciolisce leggermente su schermi più piccoli*/
    }
}

.ondina-surr {
    position: absolute;
    top: 16px;
    left: 0;
    z-index: 100;
}

/*__________- street art__________________*/

.section-street-art {
    background: rgb(102, 123, 40);
    background: -moz-linear-gradient(180deg, rgba(102, 123, 40, 1) 0%, rgba(102, 123, 40, 1) 42%, rgba(150, 158, 64, 1) 88%);
    background: -webkit-linear-gradient(180deg, rgba(102, 123, 40, 1) 0%, rgba(102, 123, 40, 1) 42%, rgba(150, 158, 64, 1) 88%);
    background: linear-gradient(180deg, rgba(102, 123, 40, 1) 0%, rgba(102, 123, 40, 1) 42%, rgba(150, 158, 64, 1) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#667b28", endColorstr="#969e40", GradientType=1);
}

.onda-form {
    position: relative;
    margin-top: -37px;
}

.street-art {
    background-image: url("../images/Quartieri/streetart.png");
    background-size: cover;
    height: 100vh;
    position: relative;
}

.street-art-gradient {
    position: relative;
    height: inherit;
    background: rgb(103, 125, 42);
    background: -moz-linear-gradient(0deg, rgba(103, 125, 42, 1) 0%, rgba(255, 255, 255, 0) 34%);
    background: -webkit-linear-gradient(0deg, rgba(103, 125, 42, 1) 0%, rgba(255, 255, 255, 0) 34%);
    background: linear-gradient(0deg, rgba(103, 125, 42, 1) 0%, rgba(255, 255, 255, 0) 34%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#677d2a", endColorstr="#ffffff", GradientType=1)
}

p.d-block {
    width: 50vw;
}

@media only screen and (max-width: 1000px) {
    p.d-block {
        width: 90vw;
    }

    p.d-block-tight {
        width: 40vw;
    }

    /* occorre aggiustarle bene per la responsiveness ma funziona*/
}

/*form*______________*/
.form-impressionismo {
    background-image: url("../images/Quartieri/sfondo.png");
    position: relative;
}

.bacio {
    position: absolute;
    top: 2vh;
    right: 3vw;
    height: 150vh;
}

#back-to-top {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 15px;
}

.text-form {
    position: relative;
    z-index: 1000;
    height: 200px;
}

.form-border {
    border-radius: 40px;
    border: 3px solid;
}

.parigi-border {
    border-color: #DF375B;
}

.yellow-border {
    border-color: #F5C042;
}

.blu-border {
    border-color: #298D9F;
}

.form-impressionismo label {
    margin-left: 20px;
    margin-top: 25px;
    font-weight: bold;
}

.form-impressionismo button {
    border-radius: 40px;
    background-color: #DF375B;
    border-color: #DF375B;
    width: 90px;

}

footer {
    background-color: #DF375B;
    position: relative;
    z-index: 1000;
}

/*#######mobile_Quartieri###########*/
@media only screen and (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5em;
    }

    .bacio {
        height: 28vh;
        top: -27px;
        right: 4px;
    }

    .onda-form {
        top: 30px
    }

    p.d-block-tight {
        width: 100vw;
    }

    .ondina-surr {
        top: 12px;
    }

    .onda {
        position: absolute;
        top: -3px;
    }
}

/* ipad*/
@media only screen and (max-width: 1200px) {

    .onda {
        position: absolute;
        top: -4px;
    }

    .bacio {
        height: 32vh;
        top: -22px;
        right: 4px;
    }

    .child {
        top: 812px;
        height: 33vh;
    }

    .child_surrealismo {
        height: 40vh;
        top: 690px;

    }
}


/* _____________________________________pagina eventi_______________*/
.margin-left-h3 {
    margin-left: 9vw;
}

.margin-left-timeline {
    margin-left: -1vw;
}

.margin-right-timeline {
    margin-right: -1vw;
}

.fit-content {
    width: fit-content;
}

.icon {
    max-width: 35px;
}

.right-column {
    position: relative
}

#january::before {
    content: url("../images/Eventi/line.svg");
    display: block;
    position: absolute;
    top: -250px;
    z-index: -100;
    height: 110%;

}

.timeline-element-r {
    position: relative;
    left: -1vw;
    top: 40px;
    z-index: 1000;
}

.timeline-element-l {
    position: relative;
    transform: translateX(36.1vw);
}

.event {
    max-width: 66%;
}

.months-span {
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    width: 170px;
    text-align: center;
}

.january, .april {
    background-color: #298D9F;
}

.february {
    background-color: #DF375B;
}


.march {
    background-color: #F5C042;
}

.event-title-r {
    margin-right: 9vw;
    margin-bottom: 3vh;
    text-align: end;
}

.event-title-l {
    margin-left: 9vw;
    margin-bottom: 3vh;
    text-align: start;
}

@media only screen and (max-width: 768px) {
    .img-events {
        display: none;
    }
    .right-column::before {
        margin-left: 6.5vw;
    }

    .timeline-element {
        left: 3.5vw;
        top: -3vh;
    }

    .timeline-element span {
        margin-left: 5.5vw;
    }

    .event-title-r {
        text-align: start;
        width: fit-content;
        margin-left: 17vw;
    }

    br {
        display: none; /* utilizzare le classi bootstrap*/
    }


    .when::before {
        content: url("../images/Eventi/calendar.svg");
        height: 30px;
        margin-right: 10px;

    }

    .where::before {
        content: url("../images/Eventi/position.svg");
        height: 30px;
        margin-right: 10px;
    }
}
