@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Raleway:wght@300;700;900&display=swap');

.selector-for-some-widget {
    box-sizing: content-box;
}
.rounded-3{
    border-radius: 30px !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(223 55 91);!important;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 0.15em;
    font-weight: bold;
}
h1 {
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: bold;
        font-size: 48px; /* OCCORRE MODIFICARE TUTTI I PX IN EM PER RENDERLO RESPONSIVE*/
        line-height: 54px;
        margin: 2vw 0;

    }

h2 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 54px;
    letter-spacing: -0.02em;
}

h3 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;

}

body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.btn-light{
    background-color: #F5C042;
    font-weight: bold;
}


.navbar-light .navbar-nav .nav-link:hover {
    color:#DF375B;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 0.15em;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}



/* home_______________________________________________________*/
/* main {
    background-image: url("images/wawe.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
}

.btn{
    border-radius: 15px; rounded-pill non funziona
}
#bg2 {
    position: relative;
    z-index: -1;
    width: 100vw;
    background-size: contain;
    background-position-y: top;
}
 */
/* Vivere la città____________________________________________*/
.sfondovivere {
    background-image: url("images/ViverelaCittà/Header_VivereLaCittà.png");
    height: 617px; /* Sistemare l'altezza*/
}


/* Quartieri____________________________________________*/

/* impressionismo*/
.impressionismo {
    background-image: url("images/Quartieri/header_impressionismo.png");
    background-size: cover;
    height: 80vh;
    position: relative;
    z-index: -10;
}

.gradient-impressionismo{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 77%, rgba(230,103,71,1) 94%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 77%, rgba(230,103,71,1) 94%);
    background: linear-gradient(180deg, rgba(255,255,255,0) 77%, rgba(230,103,71,1) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e66747",GradientType=1);
    height: inherit;
}
.impressionismowawe {
   /* background-image: url("images/Quartieri/sfondo_impressionismo.png");*/
    height: 85vh;
    background-size:cover;
}
.section-impressionismo, .section-street-art, .section-surrealismo {
position: relative; /* in questo modo le onde in position:absolute si posizionano sopra le section senza impostare z-index*/
}
.section-impressionismo .container-fluid /* non ho capito la seconda classe*/{
    background: linear-gradient(
            180deg, rgb(230 103 71) 0%, rgb(241,154,94) 100%);
}
.child {
    position: absolute;
    top:100%;
    right:0;
    max-height: 500px;
    z-index: 100;
    transform: translateY(-40%);
}
.wave-impressionismo, .wave-surrealismo, .wave-street-art {
    position: absolute;
    top: 0;

}
.onda .img-fluid {
    width: 100%;
}
.text-orange{
    color:#E66848;
}
/* surrealismo*/

.section-surrealismo  {
    position: relative; /* serve per posizionarvi sopra l'onda arancione*/
}
.surrealismo{
    background-image: url("images/Quartieri/header_surrealismo.png");
    background-size:cover;
    height: 80vh;
    position: relative;
    z-index: 0;
}

.surrealism-gradient{
    background: rgb(54,99,160);
    background: -moz-linear-gradient(0deg, rgba(54,99,160,1) 0%, rgba(255,255,255,0) 34%);
    background: -webkit-linear-gradient(0deg, rgba(54,99,160,1) 0%, rgba(255,255,255,0) 34%);
    background: linear-gradient(0deg, rgba(54,99,160,1) 0%, rgba(255,255,255,0) 34%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3663a0",endColorstr="#ffffff",GradientType=1);
    height: inherit;
}

.section-surrealismo {
    background: rgb(88,125,180);
    background: -moz-linear-gradient(0deg, rgba(88,125,180,1) 0%, rgba(54,99,160,1) 25%);
    background: -webkit-linear-gradient(0deg, rgba(88,125,180,1) 0%, rgba(54,99,160,1) 25%);
    background: linear-gradient(0deg, rgba(88,125,180,1) 0%, rgba(54,99,160,1) 25%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#587db4",endColorstr="#3663a0",GradientType=1);
}
.onda-surrealismo{
    background-image: url("images/Quartieri/onda-surrealismo.png");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
p.d-block {
    max-width: 62%;
}
.two-lines{
    max-width: 70%;
    text-align: center;
}
.blue-text {
    color: #3663A0;
}
.child_surrealismo {
    position: absolute;
    top:100%;
    right:12%;
    max-height: 400px;
    z-index: 100;
    transform: translateY(-40%);
}
.child_surrealismo::after{
    mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg);
    mask-size: 100vmin;
    mask-repeat: no-repeat;
    mask-position: center;
}
/*__________- street art__________________*/

.section-street-art {
    background-color: #677D2A;

}
.street-art {
    background-image: url("images/Quartieri/streetart.png");
    background-size:cover;
    height: 80vh;
    position: relative;
    z-index: 0;
}
.street-art-gradient{
    height: inherit;
    background: rgb(103,125,42);
    background: -moz-linear-gradient(0deg, rgba(103,125,42,1) 0%, rgba(255,255,255,0) 34%);
    background: -webkit-linear-gradient(0deg, rgba(103,125,42,1) 0%, rgba(255,255,255,0) 34%);
    background: linear-gradient(0deg, rgba(103,125,42,1) 0%, rgba(255,255,255,0) 34%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#677d2a",endColorstr="#ffffff",GradientType=1);
}